.chat-container {
    height: 100%;
    flex-grow: 1;
    background-image: linear-gradient(to bottom, #ffafbd, #ffc3a0);
    div {
        height: 100%;
        .navbar {
            width: 100%;
            display: flex;
            height: auto;
            padding: 30px 20px 16px;
            align-items: center;
            justify-content: space-between;
            .wrapper {
                display: flex;
                width: 100%;
                gap: 16px;
                align-items: center;
            }
            .chat-avatar {
                width: 52px;
                height: 52px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
            .navbar-content {
                width: calc(100% - 52px - 16px);
                span {
                    font-size: 22px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .more-wrapper {
                width: 132px;
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                .icon {
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                }
            }
        }
        .messages-wrapper {
            height: calc(100% - 100px - 110px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .messages {
                padding: 20px;
                height: auto;
                display: flex;
                gap: 20px;
                flex-direction: column;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }

                .message {
                    display: flex;
                    flex-wrap: wrap;
                    height: auto;
                    width: auto;
                    position: relative;
                    .avatar {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .message-text {
                        margin-top: 10px;
                        margin-left: 10px;
                        display: block;
                        font-size: 14px;
                        padding: 10px;
                        width: auto;
                        max-width: 400px;
                        overflow-wrap: break-word;
                        background-color: rgb(33, 114, 68, 0.8);
                        border-radius: 10px;
                        border-top-left-radius: 0;
                        color: #fff;
                        position: relative;
                    }

                    .recall {
                        background-color: #959595;
                        border-radius: 0;
                        cursor: default;
                    }
                    .message-image {
                        margin-left: 10px;
                        width: auto;
                        max-width: 300px;
                        max-height: 300px;
                        position: relative;
                    }
                    .message-actions {
                        border-radius: 18px;
                        display: flex;
                        top: 0;
                        flex-direction: column;
                        margin-left: 10px;
                        padding: 2px 6px;
                        background-color: transparent;
                        margin-top: 8px;
                        gap: 4px;
                        width: auto;
                        height: 38px;
                        position: relative;
                        .wrapper {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                        }
                        .icon-wrapper {
                            width: 38px;
                            height: 38px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .action-icon {
                            width: 34px;
                            height: 34px;
                            &:hover {
                                width: 38px;
                                height: 38px;
                            }
                            border-radius: 50%;
                            border: 8px solid rgba(236, 124, 124, 0.4);
                            cursor: pointer;
                        }
                        .delete-message {
                            border: none;
                            border-radius: 0;
                            width: 30px;
                            height: 30px;
                        }
                        .popular-reaction {
                            display: flex;
                            z-index: 1;
                            align-items: center;
                            background-color: rgba(117, 58, 136, 0.7);
                            padding: 0px 4px;
                            border-radius: 10px;
                            span {
                                display: block;
                                width: 28px;
                                height: 28px;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                font-size: 18px;
                                &:hover {
                                    font-size: 20px;
                                }
                            }
                            .more {
                                display: block;
                                width: 28px;
                                height: 28px;
                                align-items: center;
                                justify-content: center;
                                padding: 3px;
                                cursor: pointer;
                                margin-top: 1px;
                                &:hover {
                                    padding: 1px;
                                }
                            }
                            .emoji-picker {
                                border-radius: 10px;
                                position: absolute;
                                z-index: 1;
                                height: 200px;
                                top: 80px;
                                left: 0;
                                overflow-y: scroll;
                                &::-webkit-scrollbar {
                                    display: none;
                                }
                            }
                        }
                    }
                    .reaction-wrapper {
                        position: absolute;
                        left: 50px;
                        display: flex;
                        top: calc(100% - 6px);
                        padding: 2px 4px;
                        background-color: #ffc3a0;
                        height: auto;
                        border-radius: 10px;
                        gap: -10px;
                        cursor: pointer;
                        .reaction {
                            font-size: 14px;
                        }
                        .reaction + .reaction {
                            margin-left: -10px;
                        }
                    }
                    .all_reaction-container {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        justify-content: center;
                        align-items: center;
                        z-index: 2;
                        width: 300px;
                        height: auto;
                        background-color: #ffc3a0;
                        border-radius: 12px;
                        padding: 10px 10px;
                        overflow: hidden;
                        .title {
                            font-size: 20px;
                            font-weight: 600;
                            background-color: #753a88;
                            color: #fff;
                            width: 100%;
                            text-align: center;
                            padding: 10px 20px;
                            border-radius: 12px;
                        }
                        .all_reaction {
                            max-height: 300px;
                            overflow-y: scroll;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            &::-webkit-scrollbar {
                                display: none;
                            }
                            .item {
                                width: 100%;
                                padding: 4px 8px;
                                display: flex;
                                gap: 10px;
                                background-color: #cc2b5e;
                                align-items: end;
                                cursor: pointer;
                                .name {
                                    color: #fff;
                                    width: calc(100% - 20px - 10px);
                                    font-size: 14px;
                                    font-weight: 600;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
                .self {
                    align-self: flex-end;
                    flex-direction: row-reverse;
                    .message-text {
                        margin: 0 10px 0 0;
                        border-top-right-radius: 0;
                        border-top-left-radius: 10px;
                    }
                    .recall {
                        border-radius: 0;
                    }
                    .message-image {
                        margin: 0 10px 0 0;
                    }
                    .message-actions {
                        margin-top: -2px;
                        flex-direction: column;
                        margin-right: 10px;
                        .wrapper {
                            flex-direction: row-reverse;
                        }
                    }
                    .reaction-wrapper {
                        right: 16px;
                        left: unset;
                    }
                }
                .notice-wrapper {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    .notice {
                        padding: 4px 10px;
                        max-width: 320px;
                        background-color: #959595;
                        font-size: 12px;
                        color: #fff;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }

        .x-symbol {
            position: absolute;
            display: block;
            overflow: unset;
            font-size: 16px;
            background-color: aqua;
            border-radius: 50%;
            padding: 4px 12px;
            font-weight: 600;
            right: -2px;
            top: -2px;
            cursor: pointer;
        }

        .input-container {
            width: 100%;
            height: auto;
            padding: 30px 0;
            display: flex;
            justify-content: center;
            .input-wrapper {
                display: flex;
                position: relative;
                align-items: center;
                width: 88%;
                background-color: #f1f1f1;
                border-radius: 16px;
                input {
                    border: none;
                    background-color: transparent;
                    padding: 16px;
                    flex-grow: 1;
                    font-size: 16px;
                    outline: none;
                    color: #000;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
                .wrapper {
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    justify-content: space-between;
                    gap: 10px;
                    .send-wrapper {
                        width: 36px;
                        height: 20px;
                        border-left: 2px solid #959595;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }
                    .icon {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                    .image {
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                }
                .emoji {
                    cursor: pointer;
                    margin-left: 16px;
                    width: 24px;
                    height: 24px;
                }
                .emoji-picker {
                    position: absolute;
                    height: 400px;
                    overflow-y: scroll;
                    bottom: calc(100% + 16px);
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
    .welcome {
        height: 100%;
        width: 100%;
        background-color: #ffcbb3;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .hello {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 4px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            img {
                max-width: 70%;
                max-height: 70%;
            }
            div {
                font-size: 20px;
                display: flex;
                height: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

#hidden {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
