.chat-container {
    height: 100%;
    flex-grow: 1;
    background-image: linear-gradient(to bottom, #ffafbd, #ffc3a0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    div {
        height: 100%;
        .navbar {
            display: flex;
            height: auto;
            padding: 30px 20px 16px;
            align-items: center;
            .chat-avatar {
                width: 52px;
                height: 52px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
            .navbar-content {
                flex-grow: 1;
                span {
                    font-size: 22px;
                    font-weight: 600;
                    padding: 0 16px;
                    display: inline-block;
                    width: auto;
                }
            }

            .more-wrapper {
                width: 132px;
                display: flex;
                padding: 10px 20px;
                align-items: center;
                justify-content: space-between;

                .icon {
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                }
                .video {
                    background-image: url("../../imgs/video.png");
                    width: 24px;
                    height: 24px;
                }
                .phone {
                    background-image: url("../../imgs/telephone.png");
                }
                .more {
                    background-image: url("../../imgs/more.png");
                }
            }
        }
        .messages {
            height: calc(100% - 100px - 110px);
            width: 100%;
            padding: 0 20px 20px;
            background-color: #f1f1f1;
            display: flex;
            gap: 20px;
            flex-direction: column-reverse;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }

            .message {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .text-message {
                    margin-top: 10px;
                    display: block;
                    font-size: 14px;
                    padding: 10px;
                    max-width: 400px;
                    overflow-wrap: break-word;
                    background-color: rgb(33, 114, 68, 0.8);
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    color: #fff;
                }
                img {
                    max-width: 400px;
                    max-height: 500px;
                }
            }
            .self {
                align-self: flex-end;
                .text-message {
                    border-top-right-radius: 0;
                    border-top-left-radius: 10px;
                }
            }
        }

        .input-container {
            width: 100%;
            height: auto;
            padding: 30px 0;
            display: flex;
            justify-content: center;
            .input-wrapper {
                display: flex;
                align-items: center;
                width: 88%;
                background-color: #f1f1f1;
                border-radius: 16px;
                input {
                    border: none;
                    background-color: transparent;
                    padding: 16px;
                    flex-grow: 1;
                    font-size: 16px;
                    outline: none;
                    color: #000;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
                .wrapper {
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    justify-content: space-between;
                    gap: 10px;
                    .send-wrapper {
                        width: 36px;
                        height: 20px;
                        border-left: 2px solid #959595;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }
                    .icon {
                        width: 18px;
                        height: 18px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                    }
                    .micro {
                        background-image: url("../../imgs/microphone.png");
                    }
                    .image {
                        background-image: url("../../imgs/image.png");
                    }
                    .send {
                        background-image: url("../../imgs/send.png");
                    }
                }
            }
        }
    }
    .welcome {
        height: 100%;
        width: 100%;
        background-color: #ffcbb3;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .hello {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 4px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            img {
                max-width: 70%;
                max-height: 70%;
            }
            div {
                font-size: 20px;
                display: flex;
                height: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
