.chat-container {
    height: 100%;
    flex-grow: 1;
    background-image: linear-gradient(to bottom, #ffafbd, #ffc3a0);
    div {
        height: 100%;
        .navbar {
            display: flex;
            height: auto;
            padding: 30px 20px 16px;
            align-items: center;
            justify-content: space-between;
            .wrapper {
                display: flex;
                width: 100%;
                gap: 16px;
                align-items: center;
            }
            .chat-avatar {
                width: 52px;
                height: 52px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
            .navbar-content {
                width: calc(100% - 52px - 16px);
                span {
                    font-size: 22px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .more-wrapper {
                width: 132px;
                display: flex;
                padding: 10px 20px;
                align-items: center;
                justify-content: space-between;

                .icon {
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                }
                .video {
                    background-image: url("../../imgs/video.png");
                    width: 24px;
                    height: 24px;
                }
                .phone {
                    background-image: url("../../imgs/telephone.png");
                }
                .more {
                    background-image: url("../../imgs/more.png");
                }
            }
        }
        .messages-wrapper {
            height: calc(100% - 100px - 110px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .messages {
                padding: 20px;
                height: auto;
                display: flex;
                gap: 20px;
                flex-direction: column;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }

                .message {
                    display: flex;
                    flex-wrap: wrap;
                    height: auto;
                    gap: 10px;
                    .avatar {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .text-message {
                        margin-top: 10px;
                        display: block;
                        font-size: 14px;
                        padding: 10px;
                        max-width: 400px;
                        overflow-wrap: break-word;
                        background-color: rgb(33, 114, 68, 0.8);
                        border-radius: 10px;
                        border-top-left-radius: 0;
                        color: #fff;
                    }
                    img {
                        max-width: 340px;
                        max-height: 340px;
                    }
                }
                .self {
                    align-self: flex-end;
                    .text-message {
                        border-top-right-radius: 0;
                        border-top-left-radius: 10px;
                    }
                }
            }
        }

        .input-container {
            width: 100%;
            height: auto;
            padding: 30px 0;
            display: flex;
            justify-content: center;
            .input-wrapper {
                display: flex;
                position: relative;
                align-items: center;
                width: 88%;
                background-color: #f1f1f1;
                border-radius: 16px;
                input {
                    border: none;
                    background-color: transparent;
                    padding: 16px;
                    flex-grow: 1;
                    font-size: 16px;
                    outline: none;
                    color: #000;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
                .wrapper {
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    justify-content: space-between;
                    gap: 10px;
                    .send-wrapper {
                        width: 36px;
                        height: 20px;
                        border-left: 2px solid #959595;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }
                    .icon {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                    .image {
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                }
                .emoji {
                    cursor: pointer;
                    margin-left: 16px;
                    width: 24px;
                    height: 24px;
                }
                .emoji-picker {
                    position: absolute;
                    height: auto;
                    bottom: calc(100% + 16px);
                }
            }
        }
    }
    .welcome {
        height: 100%;
        width: 100%;
        background-color: #ffcbb3;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .hello {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 4px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            img {
                max-width: 70%;
                max-height: 70%;
            }
            div {
                font-size: 20px;
                display: flex;
                height: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

#hidden {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
