.fetch-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    img {
        width: 240px;
    }
    h3 {
        font-size: 24px;
        color: rgb(194, 108, 108);
    }
}
