@import "https://unpkg.com/open-props/easings.min.css";
.messenger-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    .navigate {
        width: 6%;
        height: 100%;
        background-image: linear-gradient(to bottom, #cc2b5e, #753a88);
        position: relative;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;
        .icon {
            width: 26px;
            height: 26px;
            cursor: pointer;
            filter: invert(100%);
        }
        .first-item {
            padding: 30px 0;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .logo {
                width: 100%;
                padding: 0 10px;
                border-left: 3px solid aqua;
            }
            .friends-icon {
                margin-top: 100%;
                width: 40px;
                filter: invert(100%);
                cursor: pointer;
            }
        }
        .second-item {
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .setting {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
            }

            .user-account {
                display: flex;
                border-top: 2px solid #fff;
                padding-top: 30px;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }
        .friends {
            position: fixed;
            display: flex;
            flex-direction: column;
            gap: 16px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;

            .friends-title {
            }
            .friends-content {
            }
            .x-symbol {
                position: absolute;
                display: block;
                overflow: unset;
                font-size: 16px;
                background-color: aqua;
                border-radius: 50%;
                padding: 10px 20px;
                font-weight: 600;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
    }
}
