.sidebar {
    width: 22%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffafbd, #ffc3a0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    h2 {
        font-size: 36px;
    }

    .search {
        width: 90%;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        padding: 4px 10px;
        border-radius: 8px;
        position: relative;
        input {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: transparent;
            outline: none;
            color: dimgray;
            font-size: 16px;
            &::placeholder {
                font-size: 16px;
                color: dimgray;
            }
        }
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .friends {
            position: absolute;
            top: calc(100% + 16px);
            left: 0;
            width: 100%;
            max-height: 300px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            background-color: #ffcbb3;
            border-radius: 8px;
            .friend {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 10px;
                &:hover {
                    background-color: #ffafbd;
                }
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                span {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    font-size: 14px;
                    overflow: hidden;
                    width: calc(100% - 40px);
                }
            }
            .not-found {
                display: block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
                color: crimson;
            }
            .x-symbol {
                position: absolute;
                right: 0;
                top: 0;
                padding: 4px 8px;
                cursor: pointer;
            }
        }
    }

    .chats {
        flex-grow: 1;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        .chat-item {
            &:hover {
                background-color: rgba(255, 203, 179, 0.5);
            }
            display: flex;
            align-items: center;
            height: 65px;
            padding: 10px 16px;
            cursor: pointer;
            .chat-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .wrapper {
                width: calc(100% - 78px);
                display: flex;
                flex-direction: column;
                padding: 0 8px;
                gap: 4px;
                justify-content: center;
                span {
                    display: -webkit-box;
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .last-message {
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .updated {
                width: 38px;
                font-size: 16px;
                color: #000;
            }
        }
        .chat-item.active {
            background-color: #ffcbb3;
        }
    }
}
